<body>
  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a
          href="/"
          class="d-flex align-items-center text-dark text-decoration-none"
        >
          <span class="fs-4">Histórico de Partidas</span>
        </a>
      </header>

      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="Titulo display-5 text-center">Últimas 10 partidas</h1>
          <div class="col-12">
            <ul class="LastGames text-center">
              <li><span class="game"> 1 </span> ganado</li>
              <li><span class="game"> 2 </span> perdido</li>
              <li><span class="game"> 3 </span> ganado</li>
              <li><span class="game"> 4 </span> perdido</li>
              <li><span class="game"> 5 </span> ganado</li>
              <li><span class="game"> 6 </span> perdido</li>
              <li><span class="game"> 7 </span> ganado</li>
              <li><span class="game"> 8 </span> perdido</li>
              <li><span class="game"> 9 </span> perdido</li>
              <li><span class="game"> 10 </span> perdido</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
