<footer>
  <div class="container-fluid">
    <div class="row p-3 bg-black">
      <div class="col-12 d-flex justify-content-center my-1">
        <div>
          <ul class="text-white text-center" style="list-style: none;">
           <h2>Realizado Por</h2>
            <li>Alejandro Benavent</li>
            <li>Ismael Blanquer</li>
            <li>Laura Toribio</li>
            <li>Carlos Peralta</li>
            <li>Pau Gorris</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
