<nav class="navbar navbar-expand bg-success">
  <img
    class="navbar-brand mx-5"
    id="imgLogo"
    src="../assets/img/icon_wordle.webp"
    alt="aaa"
  />

  <h1>Adivina la Palabra</h1>
  
  <div class="navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item p-2 border-end">
        <a class="nav-link" aria-current="page" routerLink="/main">Home</a>
      </li>
      <li class="nav-item p-2 border-end">
        <a class="nav-link" routerLink="">About</a>
      </li>
      <li class="nav-item p-2 border-end">
        <a class="nav-link" routerLink="">Bonus</a>
      </li>
      <li class="nav-item p-2">
        <a class="nav-link" routerLink="">Favoritos</a>
      </li>
    </ul>
  </div>
</nav>
