<nav class="navbar navbar-expand bg-success">
  <img
    class="navbar-brand mx-5"
    id="imgLogo"
    src="../assets/img/icon_wordle.webp"
    alt="aaa"
  />
  
  <div class="navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item p-2 border-end">
        <a class="nav-link" aria-current="page" routerLink="/main">Login</a>
      </li>
      <li class="nav-item p-2 border-end">
        <a class="nav-link" routerLink="">Partidas</a>
      </li>
      <li class="nav-item p-2 border-end">
        <a class="nav-link" routerLink="">Logros</a>
      </li>
      <li class="nav-item p-2">
        <a class="nav-link" routerLink="">Comunidad</a>
      </li>
    </ul>
  </div>
</nav>
