.green {

     background-color: green;
    
     text-align: center;
    
    color: white;
    
    font-size: 25px;
    
    }
    
    .yellow {
    
    background-color: rgb(255, 221, 0);
    
    text-align: center;

    color: white;
    
    font-size: 25px;
    
    }
    
    .grey {
    
    background-color: rgb(116, 116, 116);
    
    text-align: center;
    
    color: white;

    font-size: 25px;
    
    }