<form #formularioPalabra="ngForm" (ngSubmit)="sendWord()" autocomplete="off">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col d-flex flex-column align-items-center">
        <h1>BIENVENIDO A ADIVINA LA PALABRA</h1>
        <br /><br />
        <div class="row">
        <input
          type="text"
          name="pos1"
          maxlength="1"
          class="input-group-sm form-control"
          style="text-transform: uppercase; width: 50px"
          [ngModel]="palabraModel.pos1"
          onkeydown="return false"
        />
        <input
          type="text"
          name="pos2"
          maxlength="1"
          class="input-group-sm form-control"
          style="text-transform: uppercase; width: 50px"
          [ngModel]="palabraModel.pos2"
          onkeydown="return false"
        />
        <input
          type="text"
          name="pos3"
          maxlength="1"
          class="input-group-sm form-control"
          style="text-transform: uppercase; width: 50px"
          [ngModel]="palabraModel.pos3"
          onkeydown="return false"
        />
        <input
          type="text"
          name="pos4"
          maxlength="1"
          class="input-group-sm form-control"
          style="text-transform: uppercase; width: 50px"
          [ngModel]="palabraModel.pos4"
          onkeydown="return false"
        />
        <input
          type="text"
          name="pos5"
          maxlength="1"
          class="input-group-sm form-control"
          style="text-transform: uppercase; width: 50px"
          [ngModel]="palabraModel.pos5"
          onkeydown="return false"
        />
      </div>
        <br /><br />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <button
          type="button"
          class="btn btn-light btn-lg m-1 px-4 py-3"
          *ngFor="let tecla of teclado"
          (click)="writeLetter(tecla)"
          [disabled]="disableKeyboard"
        >
          {{ tecla }}
        </button>
        <button
          type="button"
          class="btn btn-light btn-lg m-1 px-4 py-3"
          (click)="deleteLetter()"
          [disabled]="disableKeyboard"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-arrow-bar-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"
            />
          </svg>
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-l m-1 px-4 py-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-send-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"
            />
          </svg>
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>
